<html>
  <head>
    <title>Başarılı</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <center>
    </br></br></br>
    <img width="200" height="200" src="https://kansersavas.com/wp-content/uploads/2018/05/t%C4%B1k.png">
    <br>
    <h1>Ödeme işlemi onaylandı! Yönlendiriliyorsunuz..</h1>
    <meta http-equiv="refresh" content="2;URL=/">
    </center>
  </body>
</html>
