<html>
  <head>
    <title>Başarısız</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <center>
      </br></br></br>
      <img width="200" height="200" src="https://www.freeiconspng.com/uploads/red-circular-image-error-0.png">
      <br>
      <h1>Ödeme sırasında bir hata oluştu! Yönlendiriliyorsunuz..</h1>
      <meta http-equiv="refresh" content="2;URL=/">
    </center>
  </body>
</html>
